{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 110,
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.css",
      "options": { "tabWidth": 4 }
    },
    {
      "files": "*.{yml,yaml,json}",
      "options": { "tabWidth": 2 }
    }
  ]
}
